<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.omnia.smartdoorbell">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trusted.ShowTrustedActivity" />
        <activity android:name=".trusted.InsertTrustedActivity" />
        <activity android:name=".trusted.DetailTrustedActivity" />
        <activity android:name=".trusted.UpdateTrustedActivity" />
        <activity android:name=".trusted.MainTrustedActivity" />
        <activity android:name=".history.History_Activity" />
        <activity android:name=".history.DetailsHistoryActivity" />
        <activity android:name=".block.ShowListBlockActivity" />
        <activity android:name=".block.detailBlockActivity" />
        <activity android:name=".block.InsertBlockActivity" />
        <activity android:name=".block.BlockActivity" />
        <activity android:name=".block.UpdateBlockActivity" />
        <activity android:name=".ReplayActivity"></activity>
    </application>

</manifest>